
.pull-left-15 {
  float: left;
  width: 15%;
}

.pull-right-84 {
  float: right;
  width: 84%;
}

.pull-right-84 ~ * {
  clear: both;
}

.pull-left-60 {
  float: left;
  width: 60%;
}

.pull-right-39 {
  float: right;
  width: 39%;
}

.pull-right-39 ~ * {
  clear: both;
}

.remark-slide-content.full-slide-fig {
  padding: 0px 0px 0px 0px;
  width: 100%;
}

.remark-slide-content.full-slide-fig p {
  margin: 0;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

.fremont-area ul {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}